<!DOCTYPE html>
<html>
    <head>  
        <meta charset="utf-8">
        <title>Página de Cadastro</title>
    </head>
    <body>
        <h1>Informações do Cliente</h1>
        <form action="{{ url_for('cadastro') }}" method="POST">
            <table>
                <tr>
                    <td>Nome</td>
                    <td><input type="text" name="nome"></td>
                </tr>
                <tr>
                    <td>Telefone</td>
                    <td><input type="text" name="telefone"></td>
                </tr>
                <tr>
                    <td>CPF</td>
                    <td><input type="text" name="cpf"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email"></td>
                </tr>
            </table>
            <input type="submit" value="Cadastrar">


        </form>
    </body>
</html>